export LIB_SRC_DIR="$(expand_path ./library/src)
export LIB_PREFIX="$(expand_path ./library)
export PROGRAM_DIR=$(expand_path ./mpas)

export LD_LIBRARY_PATH=$LIB_PREFIX/lib:$LD_LIBRARY_PATH
export PATH=$LIB_PREFIX/bin:$PATH

export NETCDF=$LIB_PREFIX
export JASPERLIB=$LIB_PREFIX/lib
export JASPERINC=$LIB_PREFIX/include
