export LIB_SRC_DIR=$(expand_path ./library/src)
export LIB_PREFIX=$(expand_path ./library)
export PROGRAM_DIR=$(expand_path ./mpas)
export ROOT_DIR=$(expand_path ./)
export TOOLS_DIR=$(expand_path ./tools)

export LD_LIBRARY_PATH=$LIB_PREFIX/lib:$LD_LIBRARY_PATH
export PATH=$LIB_PREFIX/bin:$PATH

export PIO=$LIB_PREFIX
export NETCDF=$LIB_PREFIX
export JASPERLIB=$LIB_PREFIX/lib
export JASPERINC=$LIB_PREFIX/include

export PNETCDF=$LIB_PREFIX
export MPAS_EXTERNAL_LIBS="-L$LIB_PREFIX/lib -lhdf5_hl -lhdf5 -ldl -lz"
export MPAS_EXTERNAL_INCLUDES="-I$LIB_PREFIX/include"

export CPU_CORES=$(nproc)
